{% extends 'common/base.html' %}
{% block title %}
    Shorty
{% endblock title %}
{% block content %}
    <section class="section-shortener">
        <div class="shortener section-center">
            <form class="shorten-form" method="post">
                {% csrf_token %}
                {{ shorten_form.as_p }}
                {% if shorten_link %}{{ shorten_link }}{% endif %}
                <button class="btn btn-primary block-btn">shorten</button>
            </form>
        </div>
    </section>
{% endblock content %}
