{% extends 'common/base.html' %}
{% load static %}
{% block title %}
    Overview
{% endblock title %}
{% block content %}
    <section class="section-account">
        <div class="section-center">
            <div class="links-list">
                {% for link, clicks in page_obj %}
                    {% include "account/link_item.html" %}
                {% endfor %}
            </div>
            <div class="pagination">
                {% if page_obj.has_previous %}
                    <a href="{% url 'account:links_list' page=page_obj.previous_page_number %}">&laquo; Previous</a>
                {% else %}
                    <p class="grayed-out">&laquo; Previous</p>
                {% endif %}
                {% for page_number in elided_page_range %}
                    {% if page_number == paginator.ELLIPSIS %}
                        <p class="pagination-ellipsis">{{ page_number }}</p>
                    {% else %}
                        {% if page_number == page_obj.number %}
                            <p class="active-page">{{ page_number }}</p>
                        {% else %}
                            <a href="{% url 'account:links_list' page=page_number %}">{{ page_number }}</a>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <a href="{% url 'account:links_list' page=page_obj.next_page_number %}">Next &raquo;</a>
                {% else %}
                    <p class="grayed-out">Next &raquo;</p>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock content %}
