{% extends 'common/base.html' %}
{% load static %}
{% load account_custom_tags %}
{% block title %}
    Overview
{% endblock title %}
{% block content %}
    <section class="section-account">
        <div class="section-center">
            <div class="utils">
                <form class="search-form" action="{% url 'account:links_list' %}">
                    <div class="input">
                        {% for key, value in current_query_dict.items %}
                            {% if key != "search" %}<input type="hidden" name="{{ key }}" value="{{ value }}" />{% endif %}
                        {% endfor %}
                        <input type="search"
                               name="search"
                               placeholder="Search in alias and long link fields">
                    </div>
                    <button class="btn btn-primary search-btn" type="submit">Search</button>
                </form>
                <form class="dropdown-click" action="{% url 'account:links_list' %}">
                    {% for key, value in current_query_dict.items %}
                        {% if key != "orderby" %}<input type="hidden" name="{{ key }}" value="{{ value }}" />{% endif %}
                    {% endfor %}
                    <p>Sorting:</p>
                    <button type="button" onclick="dropdownClick()" class="drop-btn-click">
                        {% with order_by_user_friendly=get_order_by_user_friendly %}
                            <span class="drop-btn-txt">{% get_order_by_user_friendly %}</span>
                        {% endwith %}
                        <span><i class="fa-solid fa-caret-down"></i></span>
                    </button>
                    <div class="dropdown-click-content" id="dropdown-click-content-id">
                        <button name="orderby" value="-created_at">Date - Newest first</button>
                        <button name="orderby" value="created_at">Date - Oldest first</button>
                        <button name="orderby" value="-clicks">Clicks - Most clicked first</button>
                        <button name="orderby" value="clicks">Clicks - Least clicked first</button>
                    </div>
                </form>
            </div>
            {% with search_str=request.GET.search %}
                {% if search_str %}
                    <div class="search-for">
                        <h3>
                            search results for "<span class="text-normal">{{ search_str }}</span>"
                        </h3>
                    </div>
                {% endif %}
            {% endwith %}
            <div class="links-list">
                <div class="results-showed">
                    <p>
                        Showed {{ page_obj|length }} links of
                        {% if page_obj.paginator.count %}
                            {{ page_obj.paginator.count }}
                        {% else %}
                            0
                        {% endif %}
                        total
                    </p>
                </div>
                {% for link, clicks in page_obj %}
                    {% include "account/link_item.html" %}
                {% empty %}
                    <h5 class="no-results-text">No such results</h5>
                {% endfor %}
            </div>
            <div class="pagination">
                {% if page_obj.has_previous %}
                    <a href="{% url 'account:links_list' page=page_obj.previous_page_number %}{% if current_query_str %}?{{ current_query_str }}{% endif %}">&laquo; Previous</a>
                {% else %}
                    <p class="grayed-out">&laquo; Previous</p>
                {% endif %}
                {% for page_number in elided_page_range %}
                    {% if page_number == page_obj.paginator.ELLIPSIS %}
                        <p class="pagination-ellipsis">{{ page_number }}</p>
                    {% else %}
                        {% if page_number == page_obj.number %}
                            <p class="active-page">{{ page_number }}</p>
                        {% else %}
                            <a href="{% url 'account:links_list' page=page_number %}{% if current_query_str %}?{{ current_query_str }}{% endif %}">{{ page_number }}</a>
                        {% endif %}
                    {% endif %}
                {% empty %}
                    <p class="active-page">1</p>
                {% endfor %}
                {% if page_obj.has_next %}
                    <a href="{% url 'account:links_list' page=page_obj.next_page_number %}{% if current_query_str %}?{{ current_query_str }}{% endif %}">Next &raquo;</a>
                {% else %}
                    <p class="grayed-out">Next &raquo;</p>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock content %}
