{% extends 'common/base.html' %}
{% comment %} {% load static %} {% endcomment %}
{% comment %} {% load custom_tags %} {% endcomment %}
{% block title %}
    New Confirmation Link
{% endblock title %}
{% block content %}
    <section class="section-form section-confirm-link">
        <div class="section-center section-center-form">
            <form class="form sign-form" method="post">
                {% csrf_token %}
                <div class="form-header">
                    <h3>new confirmation link</h3>
                </div>
                {% for field in new_confirmation_link_form %}
                    <div class="input sign-input">
                        {{ field }}
                        {% if field.errors %}<div class="field-error">{{ field.errors.0 }}</div>{% endif %}
                    </div>
                {% endfor %}
                <button class="btn btn-primary block-btn">send new confirmation link</button>
            </form>
        </div>
    </section>
{% endblock content %}
