{% extends 'common/base.html' %}
{% load static %}
{% block title %}
    Overview
{% endblock title %}
{% block content %}
    <section class="section-account">
        <div class="section-center">
            <div class="total-counts">
                <div class="total-counts-card">
                    <h5>
                        total clicks: <span class="total-counts-counter">{{ total_clicks }}</span>
                    </h5>
                </div>
            </div>
            <div class="links-list">
                {% for link, clicks in mapped_links %}
                    {% include "account/link_item.html" %}
                {% endfor %}
            </div>
            {% if view_more %}
                <div class="links-view-more">
                    <a href="{% url 'account:links_list' %}">
                        <h4>view more</h4>
                    </a>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock content %}
