{% extends 'common/base.html' %}
{% block content %}
    <section class="section-form section-sign-in">
        <div class="section-center section-center-form">
            <form class="form sign-form" method="post">
                {% csrf_token %}
                <div class="form-header">
                    <h2>Set new password</h2>
                </div>
                {% for field in form %}
                    <div class="input sign-input">
                        {{ field }}
                        {% if field.errors %}<div class="field-error">{{ field.errors.0 }}</div>{% endif %}
                    </div>
                {% endfor %}
                <button class="btn btn-primary block-btn">Reset</button>
            </form>
        </div>
    </section>
{% endblock content %}
