{% extends 'common/base.html' %}
{% block content %}
    <div class="center">
        <form method="post" class="card">
            {% csrf_token %}
            <h2 class="text-center">Reset Password</h2>
            {{ form.as_p }}
            {% comment %} {% for field in form %}
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}<small>{{ field.errors }}</small>{% endif %}
            {% endfor %} {% endcomment %}
            <div class="form-buttons">
                <input type="submit" value="Send" class="btn btn-primary">
                <a href="{% url 'account:sign_in' %}"  class="btn btn-outline">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}
