{% extends 'common/base.html' %}
{% block title %}
    Password Reset
{% endblock title %}
{% block content %}
    <section class="section-form section-sign-in">
        <div class="section-center section-center-form">
            <form class="form sign-form" method="post">
                {% csrf_token %}
                <div class="form-header">
                    <h1>Reset Password</h1>
                </div>
                {% if form.non_field_errors %}<div class="field-error form-error">{{ form.non_field_errors.0 }}</div>{% endif %}
                {% for field in form %}
                    <div class="input sign-input">
                        {{ field }}
                        {% if field.errors %}<div class="field-error">{{ field.errors.0 }}</div>{% endif %}
                    </div>
                {% endfor %}
                <div class="form-buttons">
                    <button type="submit" class="btn btn-primary">Reset</button>
                    <button type="button" class="btn btn-secondary"><a href="{% url 'account:sign_in' %}">Cancel</a></button>
                </div>
            </form>
        </div>
    </section>
{% endblock content %}
