{% extends 'common/base.html' %}
{% comment %} {% load static %} {% endcomment %}
{% comment %} {% load custom_tags %} {% endcomment %}
{% block title %}
    Sign In
{% endblock title %}
{% block content %}
    <section class="section-form section-sign-in">
        <div class="section-center section-center-form">
            <form class="form sign-form" method="post">
                {% csrf_token %}
                <div class="form-header">
                    <h1>sign in</h1>
                </div>
                {% if new_activation_link %}
                    <a href={% url 'account:new_confirmation_link' %}>Need a new confirmation link?</a>
                {% endif %}
                {% if sign_in_form.non_field_errors %}<div class="form-error">{{ sign_in_form.non_field_errors.0 }}</div>{% endif %}
                {% for field in sign_in_form %}
                    <div class="input sign-input">
                        {{ field }}
                        {% if field.errors %}<div class="field-error">{{ field.errors.0 }}</div>{% endif %}
                    </div>
                {% endfor %}
                <button class="btn btn-primary block-btn">sign in</button>
                {% include 'account/social_auth.html' %}
                <div class="form-help-section">
                    <p class="text-small">
                        Forgot your password? <a href="{% url 'account:password_reset' %}">Reset Password</a>
                    </p>
                    <p class="text-small">
                        Don't have an account? <a href="{% url 'account:sign_up' %}">Join Now</a>
                    </p>
                </div>
            </form>
        </div>
    </section>
{% endblock content %}
