{% extends 'common/base.html' %}
{% block title %}
    Sign Up
{% endblock title %}
{% block content %}
    <section class="section-form section-sign-up">
        <div class="section-center section-center-form">
            <form class="form sign-form" method="post">
                {% csrf_token %}
                <div class="form-header">
                    <h1>sign up</h1>
                </div>
                {% if sign_up_form.non_field_errors %}<div class="field-error form-error">{{ sign_up_form.non_field_errors.0 }}</div>{% endif %}
                {% for field in sign_up_form %}
                    <div class="input sign-input">
                        {{ field }}
                        {% if field.errors %}<div class="field-error">{{ field.errors.0 }}</div>{% endif %}
                    </div>
                {% endfor %}
                <button class="btn btn-primary block-btn">sign up</button>
                {% include 'account/social_auth.html' %}
                <div class="form-help-section">
                    <p class="text-small">
                        Already have an account? <a href="{% url 'account:sign_in' %}">Sign In</a>
                    </p>
                </div>
            </form>
        </div>
    </section>
{% endblock content %}
