/* ============= GLOBAL CSS =============== */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
} /*16px*/

:root {
  /* primary colors */
  --primary-100: #d2edfe;
  --primary-200: #a6dcfc;
  --primary-300: #79cafb;
  --primary-400: #4db9f9;
  --primary-500: #20a7f8;
  --primary-600: #1a86c6;
  --primary-700: #136495;
  --primary-800: #0d4363;
  --primary-900: #062132;

  /* grey */
  --grey-100: #f3f4f6;
  --grey-200: #e5e7eb;
  --grey-300: #d1d5db;
  --grey-400: #9ca3af;
  --grey-500: #6b7280;
  --grey-600: #4b5563;
  --grey-700: #374151;
  --grey-800: #1f2937;
  --grey-900: #111827;

  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  --small-text: 0.875rem;
  --extra-small-text: 0.7em;
  /* rest of the vars */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --borderRadius-100: 0.25rem;
  --borderRadius-200: 0.5rem;
  --borderRadius-300: 1rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;

  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

body {
  background: var(--backgroundColor);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: var(--textColor);
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
p {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

h1 {
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

.text {
  margin-bottom: 1.5rem;
  max-width: 40em;
}

small,
.text-small {
  font-size: var(--small-text);
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}
/* buttons */
.btn {
  cursor: pointer;
  font-size: 1rem;
  border-color: transparent;
  border-radius: var(--borderRadius-200);
  letter-spacing: var(--letterSpacing);
  padding: 0.75rem 1.5rem;
  text-transform: capitalize;
  display: inline-block;
  transition: var(--transition);
  margin: 0.5rem 0;
}
.btn-primary {
  color: var(--white);
  background-color: var(--primary-500);
}
.btn-primary:hover {
  background-color: var(--primary-700);
}
.btn-secondary {
  color: var(--primary-900);
  background-color: transparent;
}
.btn-secondary:hover {
  background-color: var(--primary-300);
}
.btn-block {
  width: 100%;
}
.icon-btn {
  color: var(--primary-900);
  background-color: transparent;
  border-color: transparent;
  font-size: 2rem;
  margin-left: auto;
  transition: var(--transition);
}
.icon-btn:hover {
  transform: scale(1.2);
}

/* alerts */
.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: var(--borderRadius-100);
}

.alert-danger {
  color: var(--red-dark);
  background: var(--red-light);
}
.alert-success {
  color: var(--green-dark);
  background: var(--green-light);
}
/* form */
.form {
  background-color: var(--white);
  display: grid;
  row-gap: 1rem;
  width: calc(100% - 2rem);
  max-width: 28rem;
  padding: 3rem 2rem;
  border-radius: var(--borderRadius-300);
  box-shadow: var(--shadow-3);
}
.form-header{
  margin: 0 auto;
}

/* .form {
  width: 90vw;
  max-width: var(--fixed-width);
  background: var(--white);
  border-radius: var(--borderRadius-100);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
}
.form-label {
  display: block;
  font-size: var(--small-text);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}
.form-input,
.form-textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--borderRadius-100);
  background: var(--backgroundColor);
  border: 1px solid var(--grey-200);
}

.form-row {
  margin-bottom: 1rem;
}

.form-textarea {
  height: 7rem;
}
::placeholder {
  font-family: inherit;
  color: var(--grey-400);
}
.form-alert {
  color: var(--red-dark);
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
} */
/* alert */

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid var(--grey-400);
  border-radius: 50%;
  border-top-color: var(--primary-500);
  animation: spinner 0.6s linear infinite;
  margin: 0 auto;
}

/* title */

.title {
  text-align: center;
}

.title-underline {
  background: var(--primary-500);
  width: 7rem;
  height: 0.25rem;
  margin: 0 auto;
  margin-top: 1rem;
}

/* input */
.input input {
  width: 100%;
  line-height: 1.5;
  border: none;
  outline: var(--primary-500) solid 2px;
  border-radius: var(--borderRadius-200);
  padding: 0.5rem 0.75rem;
  transition: var(--transition);
}
.input input:focus {
  outline-color: var(--primary-700);
}
.field-error {
  background-color: var(--red-light);
  color: var(--red-dark);
  margin-top: 0.25rem;
  padding: 0.25rem 0.5rem;
  border-radius: var(--borderRadius-200);
  font-size: var(--small-text);
  line-height: 1.25;
}

/* ============= LOCAL CSS =============== */
/* base */
/* header */
.nav {
  background-color: var(--primary-500);
  width: 100%;
  height: 4rem;
  display: grid;
  align-items: center;
}
.nav-center {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}
.nav-logo {
  height: 44px;
}
.nav-links {
  display: none;
}
.nav-link {
  margin-left: 2rem;
  text-transform: capitalize;
  color: var(--primary-900);
  cursor: pointer;
  transition: var(--transition);
}
.nav-link:hover {
  color: var(--white);
}

@media screen and (min-width: 672px) {
  .nav-btn {
    display: none;
  }
  .nav-links {
    display: grid;
    justify-self: end;
    grid-template-columns: repeat(2, auto);
  }
}

/* sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem 2rem;
  background-color: var(--grey-100);
  width: 100%;
  height: 100%;
  transition: var(--transition);
  transform: translateX(100%);
}
.show-sidebar {
  transform: translateX(0);
}
.close-btn {
  position: relative;
  left: calc(100% - 1rem);
}
.sidebar-buttons {
  padding-top: 2rem;
}

/* footer */
.footer {
  background-color: var(--grey-400);
  padding: 2rem 0;
  text-align: center;
  text-transform: capitalize;
}

/* shortener */
.section-shortener {
  background-color: var(--primary-100);
  height: calc(100vh - 4rem - 5rem);
  min-height: 32rem;
}
.shortener {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}
.shorten-form {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto auto);
}
.shortened-link {
  background-color: var(--grey-300);
  border-radius: var(--borderRadius-200);
  padding: 0.5rem 0.75rem;
}
.shortened-link-section p {
  margin-top: 1rem;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
}
.form-icon {
  width: 48px;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.form-icon img {
  filter: invert(53%) sepia(50%) saturate(1836%) hue-rotate(175deg)
    brightness(98%) contrast(99%);
}

/* Sign Up */
.sign-up {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}
.section-sign-up {
  background-color: var(--grey-100);
  height: calc(100vh - 4rem - 5rem);
  min-height: 32rem;
}
